Package: me.conorthedev.lockwidgets
Name: LockWidgets
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), com.rpetrich.rocketbootstrap (>= 1.0.2), firmware (<< 10.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Pin your favourite widgets to your lockscreen!
Maintainer: ConorTheDev and EvenDev
Author: ConorTheDev and EvenDev
Section: Tweaks
