Package: me.conorthedev.lockwidgets
Name: LockWidgets
Depends: mobilesubstrate, ws.hbang.common (>= 1.14), com.rpetrich.rocketbootstrap (>= 1.0.2), firmware (>= 11.0)
Version: 1.0.1
Architecture: iphoneos-arm
Description: Add your favourite widgets to your lockscreen!
Maintainer: ConorTheDev <con0r.b@protonmail.com>
Author: ConorTheDev <con0r.b@protonmail.com>, EvenDev
Section: Tweaks
