Package: me.conorthedev.lockwidgetsextensiontesting
Name: LockWidgetsExtensionTesting
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ConorTheDev
Author: ConorTheDev
Section: Tweaks
