<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>headerCellClass</key>
                <string>HBPackageNameHeaderCell</string>
                <key>packageIdentifier</key>
                <string>me.conorthedev.lockwidgets</string>
                <key>backgroundGradientColors</key>
                <array>
                    <string>#4CC3EE</string>
                    <string>#6F86D6</string>
                </array>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>me.conorthedev.lockwidgets.prefs</string>
                <key>key</key>
                <string>kEnabled</string>
                <key>label</key>
                <string>Enabled</string>
            </dict>
            <dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>label</key>
				<string>Select a Widget</string>
				<key>detail</key>
				<string>LockWidgetsPrefsSelectListController</string>
                <key>isController</key>
			    <true/>
			</dict>
        </array>
        <key>title</key>
        <string>LockWidgets</string>
    </dict>
</plist>
