<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>headerCellClass</key>
                <string>HBPackageNameHeaderCell</string>
                <key>packageIdentifier</key>
                <string>me.conorthedev.lockwidgets</string>
                <key>backgroundGradientColors</key>
                <array>
                    <string>#4CC3EE</string>
                    <string>#4CC3EE</string>
                </array>
            </dict>
            <dict>
                <key>cellClass</key>
                <string>HBTwitterCell</string>
                <key>label</key>
                <string>Conor</string>
                <key>user</key>
                <string>ConorTheDev</string>
            </dict>
            <dict>
			    <key>cell</key>
                <string>PSGroupCell</string>
			    <key>label</key>
			    <string>Main Configuration</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>me.conorthedev.lockwidgets.prefs</string>
                <key>key</key>
                <string>kEnabled</string>
                <key>label</key>
                <string>Enabled</string>
                <key>PostNotification</key>
	            <string>me.conorthedev.lockwidgets.prefs/ReloadPrefs</string>
            </dict>
            <dict>
			    <key>cell</key>
                <string>PSGroupCell</string>
			    <key>label</key>
			    <string>Scroll Direction</string>
            </dict>
            <dict>
			    <key>cell</key>
			    <string>PSSegmentCell</string>
			    <key>defaults</key>
			    <string>me.conorthedev.lockwidgets.prefs</string>
			    <key>default</key>
			    <string>0</string>
			    <key>key</key>
			    <string>kScrollDirection</string>
			    <key>validValues</key>
			    <array>
				    <string>0</string>
				    <string>1</string>
			    </array>
			    <key>validTitles</key>
			    <array>
				    <string>Horizontal</string>
				    <string>Vertical</string>
			    </array>
			    <key>PostNotification</key>
			    <string>me.conorthedev.lockwidgets.prefs/ReloadPrefs</string>
		    </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>me.conorthedev.lockwidgets.prefs</string>
                <key>key</key>
                <string>kShowScrollIndicator</string>
                <key>label</key>
                <string>Show Scroll Indicator</string>
                <key>PostNotification</key>
	            <string>me.conorthedev.lockwidgets.prefs/ReloadPrefs</string>
            </dict>
            <dict>
			    <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Widget Selection</string>
            </dict>
            <dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>label</key>
				<string>Select Active Widgets</string>
				<key>detail</key>
				<string>LockWidgetsPrefsSelectListController</string>
                <key>isController</key>
			    <true/>
			</dict>
            <dict>
			    <key>cell</key>
                <string>PSGroupCell</string>
			    <key>label</key>
			    <string>Other</string>
            </dict>
            <dict>
			    <key>action</key>
			    <string>resetPrefs:</string>
			    <key>cell</key>
			    <string>PSButtonCell</string>
			    <key>cellClass</key>
    		    <string>HBTintedTableCell</string>
			    <key>isDestructive</key>
			    <true />
			    <key>confirmation</key>
			    <dict>
				    <key>prompt</key>
				    <string>Are you sure you want to reset your preferences?</string>
				    <key>title</key>
				    <string>OK</string>
				    <key>okTitle</key>
				    <string>OK</string>
				    <key>cancelTitle</key>
				    <string>Cancel</string>
			    </dict>
			    <key>label</key>
			    <string>Restore default settings and respring</string>
		    </dict>
            <dict>
			    <key>cell</key>
                <string>PSGroupCell</string>
			    <key>label</key>
			    <string>Credits</string>
            </dict>
            <dict>
                <key>cellClass</key>
                <string>HBTwitterCell</string>
                <key>label</key>
                <string>ShadowStonk (Original Idea)</string>
                <key>user</key>
                <string>CydiaSaurikStar</string>
            </dict>
            <dict>
                <key>cellClass</key>
                <string>HBTwitterCell</string>
                <key>label</key>
                <string>Even (Contributions)</string>
                <key>user</key>
                <string>even_dev</string>
            </dict>
        </array>
        <key>title</key>
        <string>LockWidgets</string>
    </dict>
</plist>
